
        <h1 class="fw-light">Shirts</h1>
        <p class="lead text-muted" id="notice"><%= notice %></p>
        
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Size</th>
              <th scope="col">Shirts Taken</th>
              <th scope="col">Date</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>

          <tbody>
            <% @shirts.each do |shirt| %>
              <tr>
                <td><%= shirt.name %></td>
                <td><%= shirt.size %></td>
                <td><%= shirt.numtaken %></td>
                <td><%= shirt.takedate ? shirt.takedate.strftime('%Y-%m-%d') : 'None' %></td>
                <td><%= link_to 'Show', shirt %></td>
                <td><%= link_to 'Edit', edit_shirt_path(shirt) %></td>
                <td><%= link_to 'Destroy', shirt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <br>

        <%= link_to 'New Shirt', new_shirt_path %>



