
        <h1 class="fw-light">Places</h1>
        <p class="lead text-muted" id="notice"><%= notice %></p>
        
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">ID</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>

          <tbody>
            <% @places.each do |place| %>
              <tr>
                <td><%= place['name'] %></td>
                <td><%= place['id'] %></td>
                <td><%= link_to 'Show', '/places/' + place['id'].to_s %></td>
                <td><%= link_to 'Edit', '/places/' + place['id'].to_s + '/edit' %></td> 
                <td><%= link_to 'Destroy', '/places/' + place['id'].to_s, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <br>

        <%= link_to 'New Place', new_place_path %>



